/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  overflow: hidden;
  overflow-y: auto;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset,
nav {
  border: 0;
  margin: 0;
  padding: 0;
}

nav {
  display: block;
}

canvas {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Strait';
  font-weight: 100;
  text-transform: uppercase;
}

h1 small,
h2 small,
h3 small,
h4 small {
  display: block;
  font-size: .5em;
  margin-top: 5px;
  color: #aaa;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: none;
}

input {
  background: transparent;
  border: 0;
  border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
  padding: 5px 7px;
  outline: none;
  font-size: .8em;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.row {
  height: 13.5em;
}

.row-item {
  overflow: hidden;
  position: relative;
  float: right;
  width: 20em;
  height: 13.5em;
}

.triangle-holder {
  position: relative;
  z-index: 99;
  display: none;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.triangle,
.triangle img {
  width: 100%;
  height: 100%;
}

.triangle {
  overflow: hidden;
  position: absolute;
  /* arctan(27 / 40) = 34.01935deg
   * need to skew by 90deg - 34.01935deg = 55.98065deg
  */
  transform: skewX(-55.98deg);
  cursor: pointer;
}

.triangle span {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 35px;
  z-index: 99;
  width: 75%;
  text-align: right;
  overflow-y: hidden;
  height: 1.1em;
  font-size: 1em;
  transform: skewX(55.8deg);
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}

.flip {
  margin-left: 6px;
}

.triangle.triangle-left span {
  top: 15px;
  left: 35px;
  text-align: left;
}

.triangle.triangle-left {
  left: -.25em;
  transform-origin: 100% 0;
}

.triangle.triangle-right {
  right: -.25em;
  transform-origin: 0 100%;
}

.triangle img {
  opacity: .75;
  transition: .5s;
}

.triangle img:hover {
  opacity: 1;
  height: 120%;
  width: 120%;
}

.triangle:hover span {
  color: #fff;
}

.triangle img,
.triangle:after {
  transform: skewX(55.98deg);
  transform-origin: inherit;
}

.triangle:after {
  position: absolute;
  margin: .5em 1.65em;
  color: white;
  font: 500 1.25em Courier;
  letter-spacing: .1em;
  text-transform: uppercase;
  content: attr(data-inf);
}

.triangle.triangle-left:after {
  top: 0;
  left: 0;
}

.triangle.triangle-right:after {
  right: 0;
  bottom: 0;
}

.flip .triangle {
  transform: skewX(55.98deg);
}

.flip .triangle img,
.flip .triangle:after {
  transform: skewX(-55.98deg);
}

.flip .triangle.triangle-left {
  left: .25em;
  transform-origin: 100% 0;
}

.flip .triangle.triangle-right {
  right: .25em;
  transform-origin: 0 100%;
}

.flip .triangle span {
  transform: skewX(-55.8deg);
}

#display,
#title {
  position: fixed;
  top: 0;
  left: 0;
}

#display {
  z-index: 9;
  width: 100%;
  height: 100%;
}

#title {
  z-index: 18;
  margin: 15px 25px;
  width: 100%;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 15px solid #fff;
  margin-right: 5px;
}

.play-button.right {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 2px;
}

/* ==========================================================================
   Bootstrap override
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */

.hidden {
  display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (max-width: 768px) {}

@media screen and (max-width: 893px) {}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */

    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
